<div class="welcome-content">
  <div class="welcome-group">
    <div class="welcome-group-content">
      <div class="welcome-message">Bienvenido a mi <span class="gold-message">portal</span></div>
      <div class="question-message">¿Nos podrías indicar tu nombre?</div>
      <button class="name-button" mat-flat-button color="primary" (click)="openDialog()">Escribe tu nombre</button>
      <div class="name-message" *ngIf="name">El nombre escrito fue {{ name | cambioLetras }}</div>
    </div>
  </div>
</div>
